body{
    margin: 0;
}

.navbar{
    background-color: red;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.Logo{
    max-width: 100px;
}

main{
    margin: 0 60px;
}

.uvod{
    text-align: center;
}

.uvod_img{
    z-index: -1;
    max-width: 100%;
}