@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    font-family: Nunito;
    
}

.navbar{
    background-color: red;
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.Logo{
    max-width: 100px;
}

main{
    margin: 0 20px;
}

.uvod{
    text-align: center;
}

.uvod_img{
    z-index: -1;
    max-width: 100%;
}

.prvni{
    text-align: center;
}

.hiphop

.hiphop_popis{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.kurz-obrazek{
    max-width: 100%;
}

.aerobik_popis{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.contemporary_popis{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}